* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 30px;
}

.container-nav {
    border: 1px solid grey;
    padding: 10px 20px;
    width: fit-content;
    margin: 30px;
}

.menu li {
    display: inline;
    margin: 6px;
}
.span-input {
    display: block;
}

.calidad {
    display: inline;
}
